<div
  style="height: calc(30px * var(--scaleb)); display: flex; flex-direction: row; justify-content: end; align-items: center;">
  <div style="width:  185px; display: flex; flex-direction: row; justify-content: start; align-items: center;">
    <h5 style="max-width:calc(42px * var(--scaleb))" *ngIf="searchKey">{{searchKey}}</h5>
    <input style="padding:0;border: hidden;background: inherit; height: 20px;"
      [style.width]="searchKey ? 'calc(110px * var(--scaleb))' : ''" type="text" id="{{uniqueId}}"
      [(ngModel)]="searchKeyword" placeholder="{{placeholder}}" (keyup)="keyupFunc($event)"
      (blur)="searchBlurFun($event)" (focus)="searchFocusFun()" (input)="resetFieldFunc($event)">
  </div>
  <div style="overflow: hidden;width: calc(28px * var(--scaleb))" *ngIf="searchIcon == 'right'">
    <div title="{{placeholder ? placeholder : 'Search'}}" [ngClass]="{searchButton:searchFlag || searchKeyword}"
      [style.background-color]="searchFlag || searchKeyword? nightMode ? '#4c4c4c':'#f3f3f2':''"
      (click)="searchClickFunc($event)"
      style="display: flex; flex-direction: row; justify-content: center; align-items: center;">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
        viewBox="0 0 16 16">
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
      </svg>
    </div>
  </div>
</div>